@media screen and (max-width:600px){

    /* navBar */

    .navbar .navbar_right .navbar_right-list li:nth-child(1){
        display:none;
    }
    .navbar .navbar_right .navbar_right-list li:nth-child(2){
        display:none;
    }
    .navbar .navbar_right .navbar_right-list li:nth-child(3){
        display:none;
    }
    .navbar .navbar_right .navbar_right-list li:nth-child(4){
        display:none;
    }
    .navbar .navbar_right .navbar_right-list li:nth-child(5){
        display:block;
    }

    /* Hero-section */

    .h-section{
        flex-direction: column;
    }
    .h-section .h-section_left h2{
       text-align: center;
       font-size: 40px;
       width: 100%;
    }
    .h-section .h-section_left p{
        margin-top: 20px;
        text-align: center;
    }

    .h-section .h-section_left button{
        margin-top: 20px;
        display: block;
        width: 100%;
        margin: 20px auto; 
    }

    /* Company-section */
    .c-section{
        margin-top: 120px;

    }
    
    .c-section .c-section_img{
        width: 100%;
        height: 35px;
    }

    .c-section .c-section_text{
        font-size: 12px;
    }

    /* Branding-section */

    .b-section{
        flex-direction: column-reverse;
    }
    
    .b-section .b-section_right h2{
        text-align: center;
        font-size: 32px;
     }

    .b-section .b-section_right p{
         text-align: center;
         font-size: 12px;
    }
    .b-section .b-section_right i.right{
        display: none;
    }
    .b-section .b-section_right i.down{
        display: block;
        margin: 0 auto;
    }

    /* Custom-section */

    .cus-section{
        flex-direction: column;
    }

    .cus-section .cus-section_left h2{
        text-align: center;
        font-size: 32px;
    }

    .cus-section .cus-section_left p{
        text-align: center;
        font-size: 14px;
    }
    .cus-section .cus-section_left i.right{
        display: none;
    }
    .cus-section .cus-section_left i.down{
        display: block;
        margin-top: 32px;
        transform: translateX(50%);
    }

    /* Testimonials Section */

    .tes-section{
        flex-direction: column;
    }

    .tes-section .tes-section_above p{
        font-size: 12px;
    }
    .tes-section .tes-section_above h1{
        font-size: 32px;
    }

    .tes-section .tes-section_under{
        flex-direction: column;
    }

    .tes-section .tes-section_under img{
        width: 100%;
    }

    /* Contact Section */
    .con-section{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .con-section .con-section_right h1{
        text-align: center;
        font-size: 32px;
    }

    .con-section .con-section_right p{
        text-align: center;
        font-size: 16px;
        margin-top: 32px;
    }

    .con-section .con-section_right button{
        display: block;
        width: 100%;
        margin: 48px auto; 
    }
    .con-section .con-section_left{
        display: none;
    }

    /* Footer */

    .footer {
        flex-direction: column;
    }

    .footer .footer-above{
        flex-direction: column;
        text-align: center;
    }

    .footer .footer-above {
        text-align: center;
    }

    .footer .footer-above .footer-above_logo{
        margin: auto;
    }

    .footer .footer-above h2{
        margin: 34px auto;
        font-size: 18px;
    }

    .footer .footer-above li{
        margin: 34px auto;
        font-size: 16px;
    }

    .footer .footer-under p{
        font-size: 12px;
        margin-bottom: 24px;
    }
}

