
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    width: 80%;
    height: 1000px;
    margin:0 auto;
    background-color: #fff ;
}

/* navBar */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 100px ;
}

.navbar .navbar_left .navbar_left-logo{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.navbar .navbar_right .navbar_right-list{
    display: flex;
}

.navbar .navbar_right .navbar_right-list li {
    list-style: none;
    margin-left: 50px;
}

.navbar .navbar_right .navbar_right-list li:nth-child(5){
    display:none;
}

.navbar .navbar_right .navbar_right-list li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #272D38;
}

/* hero section */

.h-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.h-section .h-section_left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.h-section .h-section_left h2{
    font-weight: 700;
    font-size: 64px;
    height: auto;
    max-width: 540px;
    line-height: 100%;
}

.h-section .h-section_left p{
    font-weight: 400;
    font-size: 18px;
    max-width: 525px;
    height: auto;
    color: #272D38;
}

.h-section .h-section_left button{
    max-width: 167px;
    height: 48px;
    border-radius:10px;
    border: none;
    background-color: #8eadd5;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.h-section .h-section_right img{
    width: 100%;
}

/* company-section */

.c-section{
    margin-top: 160px;
}

.c-section .c-section_text{
    text-align: center;
    color: #667085;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 16px;
}
.c-section .c-section_img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

/* Branding section */

.b-section{
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
    align-items: center;
}

.b-section .b-section_left{
    margin-top: 136px;
}


.b-section .b-section_right h2{
    font-weight: 700;
    font-size: 48px;
    height: 102.35px;
    max-width: 436px;
    line-height: 100%;
}

.b-section .b-section_right p{
    margin-top: 26px;
    font-weight: 600;
    font-size: 16px;
    max-width: 392px;
    height: auto;
    color: #272D38;
    text-transform: capitalize;
    line-height: 27.5px;
    margin-bottom: 46px;
}

.b-section .b-section_right i{
    width: 22px;
}

.b-section .b-section_left img{
    width: 100%;
}

.b-section .b-section_right i.right{
    display: block;
}

.b-section .b-section_right i.down{
    display: none;
}

    /* Custom section */

.cus-section{
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
}


.cus-section .cus-section_left h2{
    margin-top: 97px;
    max-width: 435.69px;
    height: 102.35px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 700;
}

.cus-section .cus-section_left p{
    margin-top: 25.59px;
    max-width: 392.22px;
    height: 83.16px;
    font-size: 16px;
    line-height: 27.5px;
    font-weight: 400;
    text-transform: capitalize;
    height: auto;
    color: #272D38;
}

.cus-section .cus-section_left i.right{
    margin-top: 46px;
}

.cus-section .cus-section_right img{
    width: 100%;
}

.cus-section .cus-section_left i.down{
    display: none;
}

    /* Testimonials Section */

.tes-section{
    margin-top: 136px;
}

.tes-section .tes-section_above{
    text-align: center;
}

.tes-section .tes-section_above p{
    max-width: 122px;
    margin: 0 auto;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27.5px;

}

.tes-section .tes-section_above h1{
    max-width: 435.69px;
    margin: 0 auto;
    height: 102.35px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-transform: capitalize;
}

.tes-section .tes-section_under{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tes-section .tes-section_under img{
    margin-top: 40px;
    width: 30%;
}

    /* Condition Section */

.con-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 136px;
}

.con-section .con-section_right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.con-section .con-section_right h1{
    font-weight: 700;
    font-size: 48px;
    height: 102.1px;
    max-width: 361px;
    line-height: 48px;
}

.con-section .con-section_right p{
    font-weight: 400;
    font-size: 16px;
    max-width: 360px;
    height: auto;
    color: #272D38;
    line-height: 27.5px;
}

.con-section .con-section_right button{
    max-width: 167px;
    height: 48px;
    border-radius:10px;
    border: none;
    background-color: #8eadd5;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.con-section .con-section_left img{
    width: 100%;
}

    /* Footer */


.footer .footer-above{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1440px;
    height: auto;
    margin-top: 138.57px;
    margin-bottom: ;
}

.footer .footer-above ul{
    list-style-type: none;
}

.footer .footer-above li{
    margin-top: 24px;
}

.footer .footer-above .footer-above_logo h2{
    max-width: 139.74px;
    height: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 8px;
}

.footer .footer-above .footer-above_logo p{
    max-width: 189.29px;
    height: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    margin-top: 40px;
}

.footer .footer-above .footer-above_resources h2{
    max-width: 102.07px;
    height: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 8px;
}

.footer .footer-above .footer-above_resources p{
    max-width: 55.77px;
    height: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}

.footer .footer-above .footer-above_company h2{
    max-width: 85.23px;
    height: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 8px;
}

.footer .footer-above .footer-above_company p{
    max-width: 69.37px;
    height: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}

.footer .footer-above .footer-above_socialmedia h2{
    max-width: 123.19px;
    height: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 8px;
}

.footer .footer-above .footer-above_socialmedia p{
    max-width: 68.68px;
    height: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}

.footer .footer-under{
    text-align: center;
    margin-top: 110px;
}
